@charset "utf-8";
/*css document*/

.hidden
{
	display: none;
}

.container
{
	width: 1369px;
	margin: 0 auto;
}

header
{
	background-image: url(../images/hero.jpg);
	height: 400px;
}

h1
{
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	padding-top: 85px;
	padding-left: 125px;
	font-weight: bold;
	letter-spacing: 13px;
}

h1 span
{
	display: block;
	padding-top: 30px;
}


.mainText
{
	width: 900px;
	background-color: #f7f6f6;
	margin: 0 auto;
	position: absolute;
	top: 300px;
	left: 250px;
}

.textHistory
{
	font-family: 'Average Sans', sans-serif;
	font-size: 22px;
	padding-left: 48px;
	padding-right: 48px;
	color: #676866;
	padding-top: 35px;
	line-height: 32px;
}

.textHistory:last-child
{
	padding-bottom: 40px;
}

.traaWorks
{
	margin-top: 450px;
	background-color: #eeeded;
	display: flex;
	flex-direction: row;
}

.traaWorksCon
{
	padding-left: 30px;
	padding-right: 30px;	
}

.traaWorks h2
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #899e84;
	margin-top: 25px;
	letter-spacing: 2px;
	line-height: 33px;
	text-align: center;
}

.traaWorks h2 span
{
	display: block;
	margin: 0 auto;
	padding-top: 5px;
}

.traaWorksText
{
	margin-top: 40px;
	font-size: 22px;
	line-height: 35px;
	color: #676866;
	font-family: 'Average Sans', sans-serif;
}

.handsOn
{
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
	width: 1070px;

}

.handsOn h2
{

	text-align: center;
	color: #899e84;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
}

.handsOn p
{
	margin-top: 40px;
	font-size: 28px;
	line-height: 32px;
	color: #676866;
	font-family: 'Average Sans', sans-serif;
	padding-left: 30px;
	padding-right: 20px;
}

.rainbowTrout
{
	background-color: #f5f4f4;
	display: flex;
	flex-direction: row;
}

.rainbowTrout h2
{
	margin-top: 20px;
	text-align: center;
	color: #899e84;
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}


.rainbowTrout p
{
	margin-top: 28px;
	font-size: 22px;
	line-height: 32px;
	color: #676866;
	font-family: 'Average Sans', sans-serif;
	padding-left: 40px;
	padding-right: 80px;
}

.rainbowTrout img
{
	width: 332px;
	height: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
}


footer
{
	height: 30px;
	background-color: #899e84;
}




















